/* body {
    background-color: rgb(6, 0, 0);
    color: white;
    
} */

/* td{
    background-color: aquamarine;
    border: 3px solid black;
}

caption{
    color: blue;
    font-style: italic;
}

tfoot{
    color: rgb(241, 8, 8);
} */

/* class ke lie . lgate while id ke lie # lgate */
/* 
.red{
    color: red;
}

.yellow{
    background-color: yellow;
}

#Seconddiv{
    background-color: aqua;
} */


/* canvas{
    border: solid black;
} */

div{
    color: chartreuse;
    background-color: brown;
}